<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Symfony!</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{{ asset('css/custom.css') }}" rel="stylesheet" />
    </head>
    <body>

        <div class="header py-2 px-5">
            <div class="row">
                <div class="col-12 col-md-6">
                    <img src="{{ asset('images/logo.jpeg') }}" class="logo">
                </div>

                <div class="col-12 col-md-6">
                    <div class="current_location pt-4 align-items-right">
                    <strong><i class="fa fa-location-arrow" aria-hidden="true"></i> Current Location:</strong> <img src="{{ ip_lookup.location.country_flag }}" width="15" style="margin-top: -4px;"> {{ ip_lookup.city }}, {{ ip_lookup.region_name }}  {{currentWeather.main.temp - 273.15}}° C <img src="http://openweathermap.org/img/w/{{currentWeather.weather.0.icon}}.png">
                    </div>
                </div>

            </div>

        </div>

        <div class="link-section">
            <div class="container">
                
                <div class="row">
                    <div class="col-12 col-md-6 pt-3">
                        <ul class="links">
                            <li><a href="">TODAY</a></li>
                            <li><a href="">HOURLY</a></li>
                            <li><a href="">TOMOROW</a></li>
                            <li><a href="">7 DAYS FORCAST</a></li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-6">
                        <form method="POST" action="" class="pt-4 align-items-right">
                            <div class="form-row">
                                {{ form_start(form) }} 
                                {{ form_widget(form) }} 
                                {{ form_end(form) }}
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        
            
        <div class="py-5">
            <div class="container">
                {% if error_message != '' %}
                    <div class="alert alert-warning" role="alert">
                        {{error_message}}
                    </div>
                {% endif %}

                {% if newWeatherLocation is defined %}
                    <h3 class="mb-5">Searched weather in {{geolocation.data.0.label}}: {{newWeatherLocation.weather.0.description}} <img src="http://openweathermap.org/img/w/{{newWeatherLocation.weather.0.icon}}.png"></h3>
                {% else %}
                    <h3 class="mb-5">Current Weather in {{ip_lookup.city}}, {{ip_lookup.region_name}}, {{ip_lookup.country_name}} is {{currentWeather.weather.0.description}} <img src="http://openweathermap.org/img/w/{{currentWeather.weather.0.icon}}.png"></h3>
                {% endif %}

                <div class="row">

                    {% if newWeatherLocation is defined %}

                        <div class="col-12 col-md-6">
                            <div class="weather-forcast-container p-5">

                                {% if geolocation %}
                                    <div class="conditions mb-4">
                                        <i class="fa fa-location-arrow" aria-hidden="true"></i> Location: <br/> 
                                        {{geolocation.data.0.label}}
                                    </div>
                                {% else %}
                                    <div class="conditions mb-4">
                                        <i class="fa fa-location-arrow" aria-hidden="true"></i> Location: <br/> 
                                        {{ip_lookup.city}}, {{ip_lookup.region_name}}, {{ip_lookup.country_name}} <img src="{{ip_lookup.location.country_flag}}" width="17">
                                    </div>
                                {% endif %}
                                

                                <div class="row">
                                    
                                    <div class="col-6 conditions">
                                        <div class="pb-3">
                                            <i class="fa fa-thermometer-empty" aria-hidden="true"></i> Temperature: <br/>
                                            <div class="temp mt-2">Avg: {{newWeatherLocation.main.temp - 273.15}}°C</div>
                                            <div class="temp">Feels Like: {{newWeatherLocation.main.feels_like - 273.15}}°C</div>
                                            <div class="temp">Min: {{newWeatherLocation.main.temp_min - 273.15}}°C</div>
                                            <div class="temp">Max: {{newWeatherLocation.main.temp_max - 273.15}}°C</div>
                                            <div class="temp">Pressure: {{newWeatherLocation.main.pressure}} hPa</div>
                                            <div class="temp">Humidity: {{newWeatherLocation.main.humidity}}% </div>
                                        </div>
                                    </div>

                                    <div class="col-6 conditions">

                                        <div class="pb-3">
                                            <i class="fa fa-arrow-up" aria-hidden="true"></i> Wind Direction:
                                            <span>{{newWeatherLocation.wind.deg}}°</span>
                                        </div>

                                        <div class="pb-3">
                                            <i class="fa fa-tint" aria-hidden="true"></i> Precipitation:
                                            <span>{{newWeatherLocation.main.temp - 273.15}}</span>
                                        </div>

                                        <div class="pb-3">
                                            <i class="fa fa-flag" aria-hidden="true"></i> Wind Speed:
                                            <span>{{newWeatherLocation.wind.speed}} meter/sec</span>
                                        </div>

                                        <div class="pb-3">
                                            <i class="fa fa-arrow-up" aria-hidden="true"></i> Cloudiness:
                                            <span>{{newWeatherLocation.clouds.all}}%</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    {% else %}
                        <div class="col-12 col-md-6">
                            <div class="weather-forcast-container p-5">

                                {% if geolocation is defined %}
                                    <div class="conditions mb-4">
                                        <i class="fa fa-location-arrow" aria-hidden="true"></i> Location: <br/> 
                                        {{geolocation.data.0.label}}
                                    </div>
                                {% else %}
                                    <div class="conditions mb-4">
                                        <i class="fa fa-location-arrow" aria-hidden="true"></i> Location: <br/> 
                                        {{ip_lookup.city}}, {{ip_lookup.region_name}}, {{ip_lookup.region_name}}, {{ip_lookup.country_name}} <img src="{{ip_lookup.location.country_flag}}" width="17">
                                    </div>
                                {% endif %}
                                

                                <div class="row">
                                    
                                    <div class="col-6 conditions">
                                        <div class="pb-3">
                                            <i class="fa fa-thermometer-empty" aria-hidden="true"></i> Temperature: <br/>
                                            <div class="temp mt-2">Avg: {{currentWeather.main.temp - 273.15}}°C</div>
                                            <div class="temp">Feels Like: {{currentWeather.main.feels_like - 273.15}}°C</div>
                                            <div class="temp">Min: {{currentWeather.main.temp_min - 273.15}}°C</div>
                                            <div class="temp">Max: {{currentWeather.main.temp_max - 273.15}}°C</div>
                                            <div class="temp">Pressure: {{currentWeather.main.pressure}} hPa</div>
                                            <div class="temp">Humidity: {{currentWeather.main.humidity}}% </div>
                                        </div>
                                    </div>

                                    <div class="col-6 conditions">

                                        <div class="pb-3">
                                            <i class="fa fa-arrow-up" aria-hidden="true"></i> Wind Direction:
                                            <span>{{currentWeather.wind.deg}}°</span>
                                        </div>

                                        <div class="pb-3">
                                            <i class="fa fa-tint" aria-hidden="true"></i> Precipitation:
                                            <span>{{currentWeather.main.temp - 273.15}}</span>
                                        </div>

                                        <div class="pb-3">
                                            <i class="fa fa-flag" aria-hidden="true"></i> Wind Speed:
                                            <span>{{currentWeather.wind.speed}} meter/sec</span>
                                        </div>

                                        <div class="pb-3">
                                            <i class="fa fa-arrow-up" aria-hidden="true"></i> Cloudiness:
                                            <span>{{currentWeather.clouds.all}}%</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endif %}


                    <div class="col-12 col-md-6 sa-weather-service">
                        <h4>South African Weather Service: Weather Alerts</h4>
                        <div class="py-3">
                            <h6>Mossel Bay - Damaging Winds</h6>
                            <div class="time-period mb-2"><i class="fa fa-calendar" aria-hidden="true"></i> 2023/09/15 00:00 - 2023/09/17 23:59:59</div>
                            <p>
                                Difficulty in navigation at sea for small vessels and personal water crafts (e.g. kayaks). 
                                Localised disruptions at susceptible ports due to quick, successive steep waves. 
                                Small vessels at risk of mooring lines breaking and taking on water and capsizing in locality. 
                                Localised build-up of sand on coastal routs. Localised disruption to beachfront activities.
                            </p>

                            <hr>

                            <div class="py-3">
                                <h6>Lamberts Bay - Damaging Winds</h6>
                                <div class="time-period mb-2"><i class="fa fa-calendar" aria-hidden="true"></i> 2023/09/15 00:00 - 2023/09/17 23:59:59</div>
                                <p>
                                    Difficulty in navigation at sea for small vessels and personal water crafts (e.g. kayaks). 
                                    Localised disruptions at susceptible ports due to quick, successive steep waves. 
                                    Small vessels at risk of mooring lines breaking and taking on water and capsizing in locality. 
                                    Localised build-up of sand on coastal routs. Localised disruption to beachfront activities.
                                </p>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

            
            
        <footer class="footer py-3">
            <div class="container text-center">
                <span class="text-muted">Developed by Phaladi Moholane for RSAWeb Assessment</span>
            </div>
        </footer>
       
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>