/* === Custom Stylesheet === */

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-weight: 200 !important;
}

.header{
    /* border-bottom: 1px solid #ccc; */
    box-shadow: 0 5px 10px rgba(0,0,0,.05);
}

.link-section{
    box-shadow: 0 5px 10px rgba(0,0,0,.05);
}

.logo{
    width: 200px;
}

.align-items-right{
    float: right;
}

ul.links{
    list-style: none !important;
    display: flex;
}

ul.links li{
    padding: 10px 20px;
}

.weather-forcast-container{
    border: 2px solid #98a3aa4d;
    width: 100%;
}

.weather-forcast-container .fa{
    font-size: 250px;
    color: #ccc;
}

.conditions .fa{
    font-size: 15px;
    color: #db3732
}

.temp{
    margin-bottom: 10px;
    margin-left: 15px;
}

.sa-weather-service .time-period{
    font-size: 12px;
}

.footer{
    width: 100%;
    line-height: 60px;
    background-color: #1d1d1d;
    color:#ccc
}